<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h3 class="text-light">Employee Dashboard</h3>
    <!-- Button trigger modal -->
    <button
      class="btn btn-outline-light"
      type="submit"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="clickAdd()"
    >
      <b>+ </b>Add Employee
    </button>
    <!-- Button trigger modal -->
  </div>
</nav>
<!-- Navbar -->

<!-- Table -->
<div class="container mt-5">
  <table class="table text-center">
    <thead>
      <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Emial</th>
        <th>Telephone</th>
        <th>Salary</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of employeeData">
        <td>{{ data.id }}</td>
        <td>{{ data.firstName }}</td>
        <td>{{ data.lastName }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.telephone }}</td>
        <td>{{ data.salary }}</td>
        <td>
          <button
            class="btn btn-info me-3 text-light"
            (click)="onEdit(data)"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            Edit
          </button>
          <button
            class="btn btn-danger me-3 text-light"
            (click)="deleteEmployee(data.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Table -->

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Form Add Employee</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="formEmployee">
        <div class="modal-body">
          Firstname
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            required
          />
          Lastname
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            required
          />
          Telephone
          <input
            type="text"
            class="form-control"
            formControlName="telephone"
            required
          />
          Email
          <input
            type="email"
            class="form-control"
            formControlName="email"
            required
          />
          Salary
          <input
            type="text"
            class="form-control"
            formControlName="salary"
            required
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="resetForm()"
            id="close"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-success"
            (click)="postEmployee()"
            *ngIf="showAdd"
          >
            Save
          </button>
          <button
            type="submit"
            class="btn btn-info text-light"
            *ngIf="showUpdate"
            (click)="upDateEmployee()"
          >
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal -->
